<%= render 'users/users.index', user: @user %>
    <%= render 'microposts/microposts', microposts: @microposts %>
    <%= link_to 'このユーザーを削除する', @user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  </div>
</div>